body {
  background: var(--accent-variant);
}

div > .toggle-icons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: 10rem;
  margin-top: -92rem;
  color: var(--background);
}

@media screen and (max-width: 1024px) {
  div > .toggle-icons {
    margin-right: 5rem;
    margin-top: -124rem;
  }
}

@media screen and (max-width: 600px) {
  div > .toggle-icons {
    margin-right: 2.5rem;
    margin-top: -225.5rem;
  }
}
