@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.header {
  background-color: var(--background-secondary);
  margin: auto;
  position: relative;
}

.headerSearch {
  margin-left: 8rem;
  width: 80%;
  height: 60px;
  background-color: var(--text-primary);
  border: 1px solid var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerIcon {
  color: var(--background-secondary);
  font-size: 1.3rem;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  width: 18rem;
}

button {
  width: 5rem;
  height: 2.7rem;
  color: var(--text-primary);
  background: var(--background-secondary);
  border-radius: 5px;
  outline: none;
  border: none;
  transition: all 600ms ease;
}

button:hover {
  background: var(--background-secondary-variant);
  color: var(--text-secondary);
}

@media screen and (max-width: 1024px) {
  .headerSearch {
    margin-left: 6rem;
    width: 80%;
    height: 40px;
    padding: 5px 0;
  }

  .headerSearchInput {
    width: 9rem;
  }

  .headerSearchItem > button {
    width: 4.5rem;
    height: 1.8rem;
    color: var(--text-primary);
    background: var(--background-secondary);
    border-radius: 5px;
  }

  .headerSearchItem > button:hover {
    background: var(--background-secondary-variant);
    color: var(--text-secondary);
  }

  .headerIcon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .headerSearch {
    margin-left: 3rem;
    width: 80%;
    height: 40px;
    padding: 5px 0;
  }

  .headerSearchInput {
    width: 3rem;
  }
}
